@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section-1{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: 100%;
    position: relative;
    max-width: 320px;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #0e86d4;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    width: 100%;
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

label{
    margin-left: 20px;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toogle{
    display: none;
}

@media only screen and (max-width: 700px){
    * {
        font-size: 90%;
    }

    .section-1 {
        padding: 50px;
    }

    header {
        padding: 10px;
    }

    header .logo {
        max-width: 160px;
        padding: 4px 10px;
        font-size: 12px;
    }

    header ul {
        margin-top: 10px;
    }

    header ul li a {
        margin-left: 20px;
        font-size: 14px;
    }

    .content .textBox h2 {
        font-size: 1.5em;
    }

    .content .textBox h2 span {
        font-size: 0.6em;
    }

    .content .textBox p {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    .content .textBox a {
        margin-top: 10px;
        margin-left: 12.5%;
        padding: 4px 10px;
        font-size: 12px;
    }

    .content .imgBox {
        padding-right: 25px;
        margin-top: 25px;
    }

    .thumb li {
        margin: 0 10px;
    }

    .thumb li img {
        width: 100%;
        max-width: 500px;
    }

    .sci li a {
        margin: 16.5px;
        transform: scale(1);
    }

    .content .textBox .venda {
        padding-left: 14.8%;
    }

    .content .textBox .agenda h3 {
        padding: 5px;
        margin-left: 12.5%;
        font-size: 12px;
    }

    .content .textBox .wrapper .text-box img {
        max-width: 160px;
        margin-right: 25px;
    }

    .content .textBox .wrapper .text-box h2 {
        font-size: 21px;
    }

    .content .textBox .wrapper .text-box p {
        font-size: 8px;
    }

    label{
        display: block;
        cursor: pointer;
    }
    header ul{
        text-align: center;
        width: 100%;
        display: none;
        position: static;
    }
    header ul li a{
        display: block;
        margin: 0;
        padding: 0;
    }

}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .textBox{
    position: relative;
    width: 100%;
}

.content .textBox h2{
    color: #333;
    font-weight: 500;
    line-height: 1.4em;
    font-size: 3em;
}

.content .textBox h2 span{
    color: #D45C0E;
    font-size: 1.2em;
    font-weight: 900;
    mix-blend-mode: exclusion;
}

.content .textBox p{
    color: #333;
    padding-left: 10%;
    padding-right: 10%;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    margin-left: 25%;
    padding: 8px 20px;
    background: #D45C0E;
    color: black;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    mix-blend-mode: exclusion;
}

.content .imgBox{
    padding-right: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.content .imgBox img{
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-15px);
}

.thumb li img{
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
}

.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    margin: 37px;
    transform: scale(2);
    text-decoration: none;
    color: #fff;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0e86d4;
    clip-path: circle(600px at right 800px);
}

.content .textBox .venda{
    padding-left: 29.6%;
}

.content .textBox  .agenda h3{
    display: inline-flex;
    padding: 10px;
    margin-left: 25%;
    border-radius: 50px;
    font-weight: normal;
    color: #fff;
    background-color: #0e86d4;
}

.content .textBox  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .textBox  .wrapper .text-box img{
    width: 100%;
    float: left;
    border-radius: 20px;
    margin-right: 50px;
}

.content .textBox  .wrapper .text-box h2{
    font-size: 1.8em;
    color: #0e86d4;
}

.content .textBox  .wrapper .text-box p{
    font-size: 1.2em;
    padding-left: 0;
}
